* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dbc68b;
}

.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

.book img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .bookList{
        grid-template-columns: repeat(3,1fr);
    }
}

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    font-size: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgb(252, 184, 58);
}

h1 {
    text-align: center;
    margin-top: 4rem;
    text-transform: capitalize;
}
/*                  ------------------------------------- */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 200px
}

.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .bookList {
        grid-template-columns: repeat(3, 1fr);
        background-color: lightblue;
    }
}

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 10px;
}

.book h1 {
    margin-top: 0.5rem;
}

.book p {
    margin-top: 0.5rem;
} */